// light theme

$text-greenish: #5d7b7b;
$text-link__active: #f18d6d;
$text: #252f44;
$text-dark: #1d1d26;
$text-light: #a6a7a9;
$text-active: #95bcbc;
$text-inactive: #f2f2f2;

$background: #f8f9fa;
$dark-blue: #121b2d;
$border: 0.5px solid rgba(25, 26, 41, 0.1);
$box-shadow: -6px 6px 15px #f0f0f3, 6px -6px 15px #fefeff;

// dark theme

$bg-drk: rgb(14, 18, 26);
$bg-drk-border: #121b2d;
$bg-drk-contrast: #182030;
$contrast-drk_main: #dad6d6;
$contrast-drk: #bcc5d9;
$text-inactive-drk: #76797e;
$category-friend: #ffac91;
