.button-container {
  display: flex;
  flex-direction: row;
}

.button-add,
.contact-button-delete,
.contact-button-edit,
.contact-button-update,
.contact-button-cancel {
  width: 150px;
  padding: 5px 10px;
  border-radius: 5px;
  background: transparent;
  outline: none;
  border: 0.5px solid rgba(25, 26, 41, 0.1);
  text-align: center;
  margin: 0.5em;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 400;
}

.button-add {
  color: white;
  background: $dark-blue;

  &:hover {
    color: white;
    background: $text-active;
  }
}

.contact-button-delete {
  &:hover {
    color: white;
    background: rgba(160, 48, 66, 0.9);
  }
}

.contact-button-edit,
.contact-button-update {
  &:hover {
    color: white;
    background: rgba(156, 190, 188);
  }
}
.contact-button-cancel {
  color: $text-inactive;
  &:hover {
    color: #414449;
    background: rgba(202, 204, 204);
  }

  a {
    color: $text-light;
  }
}
