// mobile
.grid {
  display: grid;
  width: 100vw;
  height: fit-content;
  justify-content: center;
  grid-template-columns: 0.5fr repeat(6, 1fr) 0.5fr;
  grid-template-rows: repeat(5, 20vh);
}

// small tablet
@media screen and (min-width: 620px) {
}

// tablet portrait
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}
