.header {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgb(27, 45, 96),
    rgb(14, 18, 26) 90%,
    rgb(14, 18, 26)
  );
  height: 20vh;

  h3 {
    padding: 1em 1.5em;
  }
}
