$text-link: #f18d6d;
$text-color: #252f44;
$text-dark: #1d1d26;
$text-light: #828793;
$background: #f8f9fa;
$border: 0.5px solid rgba(25, 26, 41, 0.1);
$box-shadow: -6px 6px 15px #f0f0f3, 6px -6px 15px #fefeff;
