$text-link: #F18D6D
$text-color: #252F44;
$text-dark: #1D1D26;
$text-light: #9DA4B2
$background: #f8f9fa;
$border: 0.5px solid rgba(25, 26, 41, 0.1);
$box-shadow: -6px 6px 15px #f0f0f3, 6px -6px 15px #fefeff;
