@import './_variables';
@import './_contacts';
@import './_contact-form';
@import './_button';
@import './_add-date';
@import './_dates';

* {
  box-sizing: border-box;
}

html body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: $bg-drk;
}

body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

h1,
h3 {
  font-size: 1.2em;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5em;
  color: $contrast-drk_main;
}

h3 {
  font-weight: 400;
}

a {
  color: $contrast-drk;
}

@media (min-width: 640px) {
}

// tablet portrait
@media (min-width: 768px) {
}

// tablet landscape
@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}

// desktop
@media (min-width: 1280px) {
  body {
    font-size: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}
