@import './_variables';
@import './_contacts';
@import './_contact-form';
@import './_button';
@import './_add-date';
@import './_dates';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: $background;
}

.container {
  max-width: 1200px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5em;
  color: $dark-blue;
}

h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $text;
}
